body
{
    color: #333;
    text-align: left;
    font-family: "Arial";
    font-size: 16;
    margin: 0;
    padding: 0;
}
#Container
{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid #DDD;
}

#Container h1
{
    font-size: 20px;
}